- var tags = ['OOP & FP', 'PaaS', 'responsive desing', 'CI/CD', 'TDD', 'microservices',  'docker']
br

h2 I am . . .
p
  | An Argentinian guy who believes in God,
  span.red #{' <3 '}
  | his wife and like to learn new things \o/

p
  | A JavaScript developer at
  | #{' '}
  a(href="#{site.company.url}", target="_blank", rel="noopener")
    | #{site.company.name}
  | #{', '}
  | developing awesomely challenging applications and APIs.

p
  | Really passionate about
  | #{' '}
  span.lang-tag Open Source
  | #{', '}
  span.lang-tag Golang
  | #{', '}
  span.lang-tag JavaScript
  | #{', '}
  span.lang-tag NodeJS
  | #{' and '}
  span.lang-tag React
  | .
  | My daily work involves a bunch of cool things:
  - each tag in tags
    span.lang-tag #{tag}
    | #{', '}
  | and the list goes on.

h2 Get In Touch
p
  | Wanna talk? Hit me at twitter
  | #{' '}
  a(href="#{site.social.twitter.url}", target="_blank", rel="noopener") @gillchristian
  | #{' or by '}
  a(href="#{site.social.mail.url}", target="_blank", rel="noopener") email
  | .
