- var tags = ['web components', 'OOP & FP', 'PaaS', 'responsive desing', 'CI/CD', 'TDD', 'microservices',  'docker']
br

h2 me
p
  | An Argentinian guy who believes in God,
  span.red #{' <3 '}
  | his wife and like to learn new things \o/

p
  | A full stack javascript developer at
  | #{' '}
  a(href="#{site.company.url}", target="_blank", rel="noopener") 
    | #{site.company.name}
  | #{', '}
  | developing awesomely challenging applications and APIs.

p  
  | Really passionate about 
  span.lang-tag Open Source
  | #{' and '}
  span.lang-tag JavaScript
  , specially
  | #{' '}
  span.lang-tag NodeJS
  | #{', '}
  span.lang-tag React
  | #{' and '}
  span.lang-tag Angular
  | #{' ecosystems'}.
  | My daily work involves a bunch of cool things: 
  - each tag in tags
    span.lang-tag #{tag}
    | #{', '}
  | and the list goes on.

h2 Get In Touch
p
  | Wanna talk? Hit me at twitter
  | #{' '}
  a(href="#{site.social.twitter.url}", target="_blank", rel="noopener") @gillchristian
  | #{' or by '}
  a(href="#{site.social.mail.url}", target="_blank", rel="noopener") email
  | .
