blockquote(style="display:none")
  | To tell who you are so people can get a feeling of you is the meaning of life.
  br
  b
    i Lebron James
  | .

br

h2 I am . . .

p
  | A Seventh-day Adventist guy from Argentina who
  span.red #{' <3 '}
  | his wife and likes to help others and learn new things \o/

p
  | Really passionate about Open Source, Functional Programming, Linux & tooling for developers. I belive everything should be a CLI app.

p
  | A Software Engineer at
  | #{' '}
  a(href="#{site.company.url}", target="_blank", rel="noopener noreferrer")
    | #{site.company.name}
  | #{', '}
  | helping to change the way people, specially students, find accommodation around the world.

hr

h2 I've worked at . . .

p
  a(href="http://www.altoroslabs.com/", target="_blank", rel="noopener noreferrer")
    b Altoros
  | #{' | '}
  span
    i.fa.fa-clock-o
    | #{' Apr 2016 - May 2017'}

p Worked with really smart and awesome people developing awesomely challenging applications and APIs.

p
  a(href="http://www.4rsoluciones.com/", target="_blank", rel="noopener noreferrer")
    b 4r Soluciones
  | #{' | '}
  span
    i.fa.fa-clock-o
    | #{' Jul 2015 - Mar 2016'}

p Worked developing visually appealing marketing sites and customized content management systems and applications.

hr

h2 Get In Touch

p
  | Wanna talk? Hit me at twitter
  | #{' '}
  a(href="#{site.social.twitter.url}", target="_blank", rel="noopener noreferrer") @gillchristian
  | #{' or by '}
  a(href="#{site.social.mail.url}", target="_blank", rel="noopener noreferrer") email
  | .
