br

h2 I am . . .

p
  | A Seventh-day Adventist guy who
  span.red #{' <3 '}
  | his wife, likes to help others and learn new things \o/

p From Entre Rios, Argentina now living in Rotterdam, The Netherlands.

p
  | Passionate about Open Source, Functional Programming, Linux (check my
  | #{' '}
  a(href="https://github.com/gillchristian/dotfiles", target="_blank", rel="noopener noreferrer") dotfiles
  | ) & tooling for developers.

hr

h2 Work

p.m-b-15
  a(href="http://catawiki.com/", target="_blank", rel="noopener noreferrer")
    b Catawiki
  | #{' | '}
  span
    i.fa.fa-clock-o
    | #{' October 2019 - Present'}

p.m-y-15
  | Senior Software Engineer, helping people to buy and sell special objects by
  | improving the payments and shipping experiences.

.project--block.m-t-15.m-b-35
  | #{'[ '}
  i TypeScript, React, Node, Docker, Kubernetes, CI/CD
  | #{' ]'}

p.m-b-15
  a(href="http://housinganywhere.com/", target="_blank", rel="noopener noreferrer")
    b HousingAnywhere
  | #{' | '}
  span
    i.fa.fa-clock-o
    | #{' May 2017 - Sep 2019'}

p.m-y-15
  | As Senior Software Engineer and Team Lead at HousingAnywhere I helped to
  | change the way people, specially students, find accommodation around the
  | world.

.project--block.m-t-15.m-b-35
  | #{'[ '}
  i TypeScript, React, Node, Golang, Docker, Kubernetes, CI/CD
  | #{' ]'}

// -------------------------------------

p.m-b-15
  a(href="http://www.altoroslabs.com/", target="_blank", rel="noopener noreferrer")
    b Altoros
  | #{' | '}
  span
    i.fa.fa-clock-o
    | #{' Apr 2016 - May 2017'}

p.m-y-15
  | Worked with really smart and awesome people developing awesomely challenging applications and APIs.

.project--block.m-t-15.m-b-35
  | #{'[ '}
  i JavaScipt, Node, Angular, React
  | #{' ]'}

// -------------------------------------

p.m-b-15
  a(href="http://www.4rsoluciones.com/", target="_blank", rel="noopener noreferrer")
    b 4r Soluciones
  | #{' | '}
  span
    i.fa.fa-clock-o
    | #{' Jul 2015 - Mar 2016'}

p.m-y-15
  | Worked developing visually appealing marketing sites and customized content management systems and applications.

.project--block.m-t-15.m-b-20
  | #{'[ '}
  i PHP, WordPress, Javascript, Angular, CSS
  | #{' ]'}

// -------------------------------------

hr

h2 Get In Touch

p
  | Wanna talk? Hit me at twitter
  | #{' '}
  a(href="#{site.social.twitter.url}", target="_blank", rel="noopener noreferrer") @gillchristian
  | #{' or by '}
  a(href="#{site.social.mail.url}", target="_blank", rel="noopener noreferrer") email
  | .
