blockquote
  | Don't be a boilerplate programmer. Instead, build tools for users and other programmers.
  | Take historical note of the textile and steel industries:
  br
  i Do you want to build machines and tools, or do you want to operate those machines?
  br
  b
    i Ras Bodic
  | .

h1 OpenSource Projects

div
  - each project in public._data.projects
    .project
      div
        span.project--title= project.title.toUpperCase()
        span.project--description
          if project.isExternal
            span (
            strong
              i contributor
            span )
        span.project--description= project.description
      .project--block
        | #{'[ '}
        span
          - each tag, index in project.tags
            i= tag + (index + 1 === project.tags.length ? '' : ', ')
        | #{' ]'}
      .project--block
        if project.url
          a(href="#{project.url}", target="_blank", rel="noopener noreferrer") view
        if project.repo
          if project.url
            | #{' | '}
          a(href="#{project.repo}", target="_blank", rel="noopener noreferrer") repo
