h1 OpenSource Projects
.flex-grid
  - each project in public._data.projects
    .flex-item
      .card
        .card-header= project.title.toUpperCase()
        .card-content
          .inner= project.description
          .inner
            | #{'[ '}
            span
              - each tag, index in project.tags
                i= tag + (index + 1 === project.tags.length ? '' : ', ')
            | #{' ]'}
          .inner
            if project.url
              a(href="#{project.url}", target="_blank", rel="noopener noreferrer") view
            if project.repo
              if project.url
                | #{' | '}
              a(href="#{project.repo}", target="_blank", rel="noopener noreferrer") repo
