blockquote
  | I would like to be able to always divide the things up into as many pieces as I can, each of which I understand separately.
  | I would like to understand the way of adding things up, independently of what it is I’m adding up.
  br
  b
    i Gerald Sussman
  | .

h1 Talks at meetups & conferences

div
  - each talk in public._data.talks
    .project
      div
        div.project--title= talk.title.toUpperCase()
        div.project--description
          a(href="#{talk.eventUrl}", target="_blank", rel="noopener noreferrer")= talk.event
          span= ' - '
          span
            i.fa.fa-clock-o
            | #{' ' + talk.date}
      .project--block= talk.description
      .project--block
        - each link, index in talk.links
          a(href="#{link.url}", target="_blank", rel="noopener noreferrer")= link.label
          if index < (talk.links.length - 1)
            | #{' | '}
